terraform {
  backend "azurerm" {
    resource_group_name  = "terraform-state-rg"
    storage_account_name = "tfstatedissertation"
    container_name       = "tfstate"
    key                  = "dissertation/azure/terraform.tfstate"
  }
}
